@import url(../css/reset.css);

/* mainfont - suit.ttf*/

@font-face {
    font-family: suit_tBold;
    src: url(../font/SUIT-ttf/SUIT-Bold.ttf);
}

@font-face {
    font-family: suit_texbold;
    src: url(../font/SUIT-ttf/SUIT-ExtraBold.ttf);
}

@font-face {
    font-family: suit_texlight;
    src: url(../font/SUIT-ttf/SUIT-ExtraLight.ttf);
}

@font-face {
    font-family: suit_theavy;
    src: url(../font/SUIT-ttf/SUIT-Heavy.ttf);
}

@font-face {
    font-family: suit_tligt;
    src: url(../font/SUIT-ttf/SUIT-Light.ttf);
}

@font-face {
    font-family: suit_tmedium;
    src: url(../font/SUIT-ttf/SUIT-Medium.ttf);
}

@font-face {
    font-family: suit_tregular;
    src: url(../font/SUIT-ttf/SUIT-Regular.ttf);
}

@font-face {
    font-family: suit_tsemibold;
    src: url(../font/SUIT-ttf/SUIT-SemiBold.ttf)
}

@font-face {
    font-family: suit_tthin;
    src: url(../font/SUIT-ttf/SUIT-Thin.ttf);
}

/* mainfont - suit.otf*/

@font-face {
    font-family: suit_oBold;
    src: url(../font/SUIT-otf/SUIT-Bold.otf);
}

@font-face {
    font-family: suit_oexbold;
    src: url(../font/SUIT-otf/SUIT-ExtraBold.otf);
}

@font-face {
    font-family: suit_oexlight;
    src: url(../font/SUIT-otf/SUIT-ExtraLight.otf);
}

@font-face {
    font-family: suit_oheavy;
    src: url(../font/SUIT-otf/SUIT-Heavy.otf);
}

@font-face {
    font-family: suit_oligt;
    src: url(../font/SUIT-otf/SUIT-Light.otf);
}

@font-face {
    font-family: suit_omedium;
    src: url(../font/SUIT-otf/SUIT-Medium.otf);
}

@font-face {
    font-family: suit_oregular;
    src: url(../font/SUIT-otf/SUIT-Regular.otf);
}

@font-face {
    font-family: suit_osemibold;
    src: url(../font/SUIT-otf/SUIT-SemiBold.otf)
}

@font-face {
    font-family: suit_othin;
    src: url(../font/SUIT-otf/SUIT-Thin.otf);
}

/* subfont - line.otf */

@font-face {
    font-family: line_obold;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Bd.otf);
}

@font-face {
    font-family: line_oregular;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Rg.otf);
}

@font-face {
    font-family: line_0thin;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Th.otf);
}

/* subfont - line.ttf */

@font-face {
    font-family: line_tbold;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/TTF/LINESeedKR-Bd.ttf);
}

@font-face {
    font-family: line_tregular;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/TTF/LINESeedKR-Rg.ttf);
}

@font-face {
    font-family: line_tthin;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/TTF/LINESeedKR-Th.ttf);
}

/* subfont - line.otf */

@font-face {
    font-family: line_obold;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Bd.otf);
}

@font-face {
    font-family: line_oregular;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Rg.otf);
}

@font-face {
    font-family: line_0thin;
    src: url(../font/LINE_Seed_Sans_KR/LINE_SeedKR_2023.09.06/OTF/LINESeedKR-Th.otf);
}

.t_hidden {
    display: block;
    width: 1px;
    height: 1px;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family: suit_tmedium, suit_omedium;
    font-size: 1rem;
}

main {
    width: 100%;
    max-width: 1920px;
}

figure {
    width: fit-content;
    height: fit-content;
}

header {
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 0 50px;
    background-color: #ffffff34;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

header .h_inner {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: suit_texbold, suit_oexbold;
}

header .h_inner .logo {
    width: 200px;
}

header .h_inner .h_menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .h_inner .h_menu li {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    position: relative;
    z-index: 8888;
    /* line-height: 120px; */
}

header .h_inner .h_menu li a {
    display: block;
}

header .h_inner .h_menu li>.h_dmenu {
    width: 250%;
    color: #000;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

header .h_inner .h_menu li .h_dmenu li {
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
}

header .h_inner .h_menu li .h_dmenu li a {
    display: block;
}

header .h_inner .h_menu li .h_dmenu li:not(:last-child) {
    margin-bottom: 10px;
}


header .hidden {
    width: 30%;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

header .hidden .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: 1px solid #0066B3;
    padding: 0 20px;
    border-radius: 50px;
    gap: 10px;
    position: absolute;
    right: 100px;
}

header .hidden .search input {
    width: 100%;
    font-family: suit_tsemibold, suit_osemibold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background: none;
    color: #000;
}

header .hidden .search a {
    width: 40px;
}

header .hidden .ham {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
}

.banner {
    width: 100%;
    height: 950px;
    overflow: hidden;

}

.banner .vbox {
    max-width: 100%;
    height: fit-content;
    overflow: hidden;
}

.banner .vbox video {
    width: fit-content;
}

.blue {
    color: #0066B3;
    font-family: suit_tbold, suit_obold;
}


.sec1 {
    margin-bottom: 10%;
    padding: 0 30px;

}

.sec1 .sec1_map {
    margin-top: 15%;
}

.sec1 .sec1_map .sec1_mapT .sec1_ititle {
    font-family: suit_theavy;
    margin-bottom: 10%;
    line-height: 280%;
    font-size: 1.4rem;
}

.sec1 .sec1_map .sec1_mapT .sec1_ititle p {
    font-family: suit_texbold;
    font-size: 1.2rem;
}

.sec1 .sec1_map .sec1_mapT .mainT {
    line-height: 180%;
}

.sec1 .gumisi {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec1 .gumisi .tab {
    width: 100%;
    background-color: #0066B3;
    padding: 30px;
    text-align: center;
    margin-bottom: 80px;
    color: #fff;
    font-size: 1.2rem;
    font-family: suit_tbold;
}

.sec1 .gumisi .sec1_ibox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}

.sec1 .gumisi .tomibox {
    margin-top: 60px;
}

.sec1 .gumisi .sec1_ibox .textbox .colortitle {
    width: fit-content;
    font-family: suit_texbold;
    font-size: 1.1rem;
    margin-bottom: 50px;
    padding: 20px 50px;
    border: none;
    border-radius: 20px;
    background-color: #FFC700;
    color: #fff;
}

.sec1 .gumisi .sec1_ibox .textbox .tree {
    background-color: #488100;
}

.sec1 .gumisi .sec1_ibox .textbox .bird {
    background-color: #555;
    color: #fff;
}

.sec1 .gumisi .sec1_ibox .textbox .tomi {
    background-color: #0066B3;
    color: #fff;
}

.sec1 .gumisi .sec1_ibox .textbox .tomit {
    line-height: 180%;
}

.sec2 {
    margin-bottom: 10%;
}

.sec2 .qmenu {
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 30px;
}

.sec2 .qmenu .sec2_title {
    font-size: 1.5rem;
    font-family: suit_texbold;
}

.sec2 .sec2_box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.sec2 .sec2_box .sec2_ibox {
    width: 50%;
    height: 200px;
    position: relative;
    margin-bottom: 50px;
}

.sec2 .sec2_box .sec2_ibox .icon {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 1.2rem;
    font-family: suit_tbold;
}

.sec2 .sec2_box .sec2_ibox .h_drop {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066B3;
    color: #fff;
    position: absolute;
    top: 70px;
    left: 50%;
    border-radius: 30px;
    padding: 30px 0;
    text-align: center;
    z-index: 978;
    font-size: 1.1rem;
    font-family: line_tregular;
    transition: 0.3s;
    cursor: pointer;
}

.sec2 .sec2_box .sec2_ibox .h_drop img {
    width: fit-content;
    margin-left: 10px;
}

.sec2 .sec2_box .sec2_ibox .movemenu {
    width: 50%;
    color: #fff;
    background-color: #0065b3;
    position: absolute;
    top: 130px;
    left: 50%;
    border-radius: 30px;
    overflow: hidden;
    z-index: 99;
    display: none;
}

.sec2 .sec2_box .sec2_ibox .movemenu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.sec2 .sec2_box .sec2_ibox .movemenu ul li {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.sec2 .sec2_box .sec2_ibox .movemenu ul li a {
    display: block;
}



.sec2 .appback {
    width: 100%;
    background-color: #64C0AB;
    display: flex;
    justify-content: center;
}

.sec2 .appback .app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.sec2 .appback .app .appT {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 0 0.5%;
}

.sec2 .appback .app .appT .apptitle {
    font-size: 1.5em;
    line-height: 250%;
    text-align: center;
    font-family: suit_tbold;
    color: #fff;
}

.sec2 .appback .app .appT .apptitle>.blue {
    font-family: suit_texbold;
}

.sec2 .appback .app .appT .appbtn {
    padding: 20px 80px;
    font-family: suit_tbold;
    margin-top: 50px;
    border-radius: 50px;
    border: none;
    font-size: 1.4rem;
    transition: 0.4s;
    font-weight: 700;
}

.sec2 .appback .app .appT>.appbtn:hover {
    box-shadow: 0px 0px 15px 15px #ffffff45;
    font-family: suit_texbold;
    font-weight: 900;
}

.sec2 .appback .app .appT .appbtn>.blue {
    font-family: suit_texbold;
}

.sec3 {
    width: 100%;
    margin-bottom: 10%;
}

.sec3 .sec3_title {
    font-size: 1.6rem;
    font-family: suit_texbold;
    max-width: 1140px;
    text-align: center;
    margin-bottom: 50px;
}


.sec3 .sec3_title .s_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-family: suit_tsemibold;
    font-size: 1.2rem;
    margin-top: 80px;
}

.sec3 .sec3_title .s_menu li:hover {
    color: #0066B3;
    font-family: suit_texbold;
}

.sec3 .slidebg {
    width: 100%;
    height: 770px;
    background-color: #0065b338;
    overflow: hidden;
    position: relative;
    margin-bottom: 5%;

}

.sec3 .slidebg .slide {
    width: 2516px;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3 .slidebg .slide .sbox {
    width: 629px;
    height: 593px;
    margin: 0 80px;
}

.sec3 .slidebg .slide .sbox figure {
    width: 629px;
    height: 444px;
}

.sec3 .slidebg .slide .sbox .stext {
    background-color: #0066B3;
    text-align: center;
    padding: 30px 0;
    color: #fff;
    line-height: 250%;
}

.sec3 .slidebg .slide .sbox .stext span {
    font-size: 1.3rem;
}

.sec3 .slidebg .slide .sbox .stext p {
    font-size: 1.1rem;
}

.sec4 {
    margin-bottom: 10%;
}

.sec4 .sec4_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: line_tbold;
    font-size: 1.5rem;
}

.sec4 .sec4_title p>.blue {
    font-family: suit_texbold;
}

.sec4 .sec4_title .btitle {
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 3px 4px 4px #ccc;
    border-radius: 40px;
    padding: 10px 20px;
    margin-right: 30px;
}

.sec4 .sec4_title .btitle figure {
    width: 50px;
    height: 50px;
}

.sec4 .sec4_title .btitle span {
    color: #FF8A00;
}

.sec4 .sec4_title p {
    font-family: line_tbold;
    font-size: 1.4rem;
}

.sec4 .sec4_box .sec4_ititle {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5% 0;
    font-family: line_tbold, line_obold;
    font-size: 1.3rem;
    gap: 10px;
}

.sec4 .sec4_box .sec4_ititle h4 {
    line-height: 40px;
}

.sec4 .sec4_box .sec4_ititle:not(:nth-child(1)) {
    padding: 0 20px;
}

.sec4 .youlist p {
    text-align: center;
    padding: 20px 0;
    line-height: 200%;
    font-family: suit_tsemibold, suit_osemibold;
}

.sec4 .lists p {
    text-align: center;
    padding: 20px 0;
    line-height: 200%;
    font-family: suit_tsemibold, suit_osemibold;
}

.sec5 {
    margin-bottom: 10%;
}

.sec5 h2 {
    font-size: 1.5rem;
    font-family: suit_texbold;
}

.sec5 .snslist {
    text-align: center;
    margin: auto;
}

.sec5 .snslist .snsicon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0 30px;
}

.sec5 .snslist .snsicon a {
    display: block;
}


.sec5 .snslist p {
    font-family: suit_tsemibold;
    font-size: 0.9rem;
    padding: 0 50px;
    padding: 0 50px;
    color: #808080;
    margin-top: 50px;
}

.sec6 {
    margin-bottom: 13%;
}

.sec6 h2 {
    font-size: 1.5rem;
    font-family: suit_texbold;
}

.sec6 .notice {
    width: 100%;
    margin-top: 50px;
    border-top: 2px solid #0066B3;
    border-bottom: 2px solid #0066B3;
}

.sec6 .notice .n_title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 30px 0;
    text-align: center;
}

.sec6 .notice .n_title li:nth-child(1) {
    width: 20%;
}

.sec6 .notice .n_title li:nth-child(2) {
    width: 40%;
}

.sec6 .notice .n_title li:nth-child(3) {
    width: 20%;
}

.sec6 .notice .n_title li:nth-child(4) {
    width: 20%;
}

.sec6 .notice .n_text {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #999;
    text-align: center;

}

.sec6 .notice .n_text li:nth-child(1) {
    width: 20%;
}

.sec6 .notice .n_text li:nth-child(2) {
    width: 40%;
    text-align: left;
}

.sec6 .notice .n_text li:nth-child(3) {
    width: 20%;
}

.sec6 .notice .n_text li:nth-child(4) {
    width: 20%;
}

.sec6 .sec6_search {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid #0000001e;
    padding: 10px 20px;
    text-align: center;
}

.sec6 .sec6_search .sec6_tt {
    width: 15%;
}

.sec6 .sec6_search .sec6_tt li {
    width: 100%;
    position: relative;
}


.sec6 .sec6_search .sec6_tt li .sec6_ht {
    width: 100%;
    position: absolute;
    top: 50px;
    text-align: center;
    /* display: none; */
    transition: 0.2s;
}


.sec6 .sec6_search .down {
    width: 30px;
    height: 30px;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.sec6 .sec6_search input {
    border: none;
}

.sec6 .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 80px;
}


.sec6 .number li {
    margin: 0 10px;
}

footer {
    height: 500px;
    background-color: #0066B3;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .f_inner {
    color: #fff;
}

footer .f_inner .f_main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8% 0;

}


footer .f_inner .f_main .f_logo figure {
    margin: auto;
}


footer .f_inner .f_main .f_text {
    justify-content: space-between;
}

footer .f_inner .f_main .f_text p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 250%;
    padding: 0 50px;
}

footer .f_inner .f_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: suit_tsemibold;
    font-size: 1.1rem;
}

footer .f_inner .f_list .yellow {
    color: #FFE500;
    font-weight: 700;
}

footer .f_inner .f_list li:not(.yellow) {
    margin-left: 20px;
}

footer .f_site {
    width: 100%;
    margin: 5% 0;
}

footer .f_site .sitemap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 30px;
    font-size: 1rem;
    font-family: suit_tsemibold;
    font-weight: 500;
    background-color: #fff;
    color: #0066B3;
    text-align: center;
}

footer .f_site .sitemap li {
    text-align: center;
}

footer .f_site .sitemap li:not(:nth-child(4)) {
    margin-right: 150px;
}

.topbtn {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    position: fixed;
    right: 80px;
    bottom: 80px;
    background-color: #0065b3;
    display: none;
}





@media screen and (max-width:1200px) {
    body {
        font-size: 0.95rem;
    }

    .se1,
    .sec2>.qmenu,
    .sec4,
    .sec6,
    footer {
        padding: 0 40px;
    }

    .sec1 .gumisi .sec1_ibox {
        justify-content: space-between;
    }

    .sec2 .qmenu {
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 5%;
        padding: 30px;
    }

    .sec2 .sec2_box .sec2_ibox {
        width: 45%;
        margin-bottom: 40px;
    }

    .sec2 .sec2_box .sec2_ibox .icon {
        width: 50%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        font-size: 1.1rem;
        font-family: suit_tbold;
    }

    .sec2 .sec2_box .sec2_ibox .h_drop {
        font-size: 1rem;

    }


    .sec3 .sec3_title .s_menu {
        width: 80%;
        margin: 5% auto;
    }
}

@media screen and (max-width:991px) {
    body {
        font-family: suit_tmedium, suit_omedium;
        font-size: 0.9rem;
    }

    header {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    header .h_inner {
        width: 100%;
    }

    header .h_inner .logo img {
        width: 90%;
    }

    header .h_inner .h_menu {
        display: none;
    }

    header .hidden {
        display: block;
        top: 35px;
    }

    .sec1 .sec1_map {
        padding: 0 20px;
    }

    .sec1 .gumisi {
        flex-direction: row;
    }

    .sec1 .gumisi .sec1_ibox {
        width: 40%;
        height: 50%;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 30px;
        text-align: center;
        line-height: 180%;
    }


    .sec1 .gumisi .tree,
    .sec1 .gumisi .tomibox {
        flex-direction: column-reverse;
    }

    .sec1 .gumisi .sec1_ibox .colortitle {
        margin: 20px auto;
    }

    .sec1 .gumisi .sec1_ibox .textbox {
        text-align: left;
    }

    .sec1 .gumisi .sec1_ibox .imgbox {
        margin-bottom: 3%;
    }

    .sec1 .gumisi .sec1_ibox .textbox .tomit {
        line-height: 180%;
    }

    .sec2 .sec2_box {
        width: 100%;
        margin: auto;
    }

    .sec2 .qmenu .sec2_title {
        width: 50%;
    }

    .sec2 .sec2_box .sec2_ibox {
        width: 50%;
        position: relative;
        margin: auto;
        margin-bottom: 50px;
    }

    .sec2 .sec2_box .sec2_ibox .h_drop {
        display: none;
    }

    footer {
        height: 350px;
    }

    footer .f_inner .f_main .f_logo {
        width: 40%;
    }

    footer .f_inner .f_main .f_text p {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 200%;
        padding: 0 50px;
    }

    footer .f_inner .f_list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: suit_tsemibold;
        font-size: 0.9rem;
    }

    footer .f_site {
        display: none;
    }



}